
/*
 * Sample SCSS for adding Superfish CSS to themes.
 *
 * Instructions:
 *
 * 1. Change the #YOUR-BLOCK-ID (below) to the ID of your Superfish block.
 *
 * 2. Add the SCSS to your theme.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to the menu regardless of
 *    the "Style" selected in the Superfish block configuration.
 *
 */
/*
// You can add these variables to your _base.scss
$superfish-1-color: #00f;
$superfish-1-background-color-level-first: #f0f0f0;
$superfish-1-background-color-level-second: #e0e0e0;
$superfish-1-background-color-level-third: #d0d0d0;
$superfish-1-background-color-level-fourth: #c0c0c0;
*/

#main-nav-mobile {
  background-color: $color3;
  height: 4rem;
  margin-bottom: 1rem;
  ul {
    /* Important: ul display-none prevents menu flash on every page load, not
     * sure why the module styles don't do this by default... */
    display: none;
  }
  @include breakpoint($med, true) {
    display: none;
  }
  .sf-accordion-toggle {
    text-align: right;
    a {
      font-size: 1.75rem;
      color: $color2;
      line-height: 4rem;
      display: block;
      width: 100%;
    }
    span {
      margin-right: 1rem;
    }
  }
  // Expanded menu 
  .sf-main.sf-expanded {
    margin-bottom: 1rem;
  }
  // Drop-down second-level text 
  .sf-has-clone-parent li a {
    margin-left: 2rem;
  }
}

#main-nav-wide {
  .sf-style-none {
    float: left;
    margin: 0;
    padding: 0;
    &.sf-navbar {
      width: 100%;
      background: $superfish-1-background-color-level-first;
    }
    ul {
      padding-left: 0;
      &.sf-multicolumn li {
        &.sf-multicolumn-wrapper {
          background: $superfish-1-background-color-level-fourth;
          li {
            background: transparent;
          }
        }
      }
    }
    a {
      @include font-size-only($font-small);
      @include line-height($line-height-2);
      color: $superfish-1-color;
      text-decoration: none;
      padding: 0em;
      &.sf-with-ul {
        padding-right: 2.1em;
      }
      &:focus {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:hover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:active {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
    }
    span {
      &.nolink {
        color: $superfish-1-color;
        padding: 0.75em 1em;
        &.sf-with-ul {
          padding-right: 2.1em;
        }
        &:hover {
          background: $superfish-1-background-color-level-fourth;
          outline: 0;
        }
      }
      &.sf-description {
        color: $superfish-1-color;
        display: block;
        font-size: 0.833em;
        line-height: 1.5;
        margin: 5px 0 0 5px;
        padding: 0;
      }
    }
    li {
      background: $superfish-1-background-color-level-first;
      li {
        background: $superfish-1-background-color-level-second;
        li {
          background: $superfish-1-background-color-level-third;
        }
      }
      &:hover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
        > ul {
          top: 2.1em;
        }
      }
      &.sfHover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
        > ul {
          top: 2.1em;
        }
      }
      .sf-depth-2 {
        &:hover {
          background: $superfish-1-background-color-level-first;
          outline: 0;
          > ul {
            top: 2.1em;
          }
        }
        &.sfHover {
          background: $superfish-1-background-color-level-first;
          outline: 0;
          > ul {
            top: 2.1em;
          }
        }
      }
    }
    .sf-sub-indicator {
      /* background-image: url('../images/dropdown-arrows.png'); */
      display: none;
    }
  }
  div.sf-accordion-toggle {
    &.sf-style-none a {
      background: $superfish-1-background-color-level-first;
      color: $superfish-1-color;
      padding: 1em;
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth;
        font-weight: bold;
      }
    }
  }
  .sf-menu.sf-style-none {
   &.sf-accordion li {
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth;
        > {
          a {
            font-weight: bold;
          }
          span.nolink {
            font-weight: bold;
          }
        }
      }
      li {
        a {
          padding-left: 2em;
        }
        li {
          a {
            padding-left: 3em;
          }
          li {
            a {
              padding-left: 4em;
            }
            li {
              a {
                padding-left: 5em;
              }
              span.nolink {
                padding-left: 5em;
              }
            }
            span.nolink {
              padding-left: 4em;
            }
          }
          span.nolink {
            padding-left: 3em;
          }
        }
        span.nolink {
          padding-left: 2em;
        }
      }
      a.sf-accordion-button {
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 499;
      }
    }
    ul.sf-multicolumn {
      li.sf-multicolumn-wrapper {
        ol {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            &.sf-multicolumn-column {
              display: inline;
              float: left;
            }
          }
        }
        a.menuparent {
          font-weight: bold;
        }
        span.nolink {
          &.menuparent {
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* Parent menu with submenu dropdown */
#main-nav-wide .menuparent {
  padding-right: 0;
}
/* Dropdown Arrow */
#main-nav-wide .menuparent > a::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .7em;
  border-style: solid;
  border-width: .35em .30em 0 .30em;
  border-color: #ffffff transparent transparent transparent;
}

@include breakpoint($med, true) {
  #main-nav-wide .menu a {
    padding: .5em 1em;
  }
}

@include breakpoint($l, true) {
  /* increase menu font size */
  #main-nav-wide .menu a {
    @include font-size($font-base);
  }
}

