
////////////////////////////////////////////////////
// Navigation
////////////////////////////////////////////////////

#navigation {
  display: none;
  background: $color2;
  @include breakpoint($med, true) {
    display: block;
    background: $color3;
    padding: 0;
    .layout-container {
      @include row;
    }
  }
}

