
////////////////////////////////////////////////////////////////////////////////
// Grid Table (alternating row colors - table used for truck-page details)
////////////////////////////////////////////////////////////////////////////////

.rwd-table__grid {
	margin: 1rem 0;
	width: 100%;
	td {
		display: block;
		border: 1px solid gray;
	}
	th, td {
		text-align: left;
		padding: .5rem 1rem !important;
		@include breakpoint($med, true) {
			display: table-cell;
		}
	}
	tr.even {
		background-color: $gray3;
	}
	&.three-max td {
		@include breakpoint($med, true) {
			width: 33%
		}
	}
}


////////////////////////////////////////////////////////////////////////////////
// No-Grid Table
////////////////////////////////////////////////////////////////////////////////

$breakpoint-alpha: $sm; // adjust to your needs

.rwd-table {
  margin: 1rem 0;
  min-width: 300px; // adjust to your needs
  border-collapse: unset; // override normalize css
  width: 100%;

  th[scope="col"] {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td, th[data-th] {
    display: block;
    &:first-child {
      padding-top: .5rem;
    }
    &:last-child {
      padding-bottom: .5rem;
    }
    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, thats who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5rem; // magic number :( adjust according to your own content
      display: inline-block;
      // end options

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
	th[scope="col"], td, th[data-th]  {
		text-align: left;
		@media (min-width: $breakpoint-alpha) {
			display: table-cell;
			padding: .25rem .5rem;

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}


// presentational styling
.rwd-table {
	color: $color1;
	overflow: hidden;
	border: 1px solid $gray1;
  th[scope="col"], th[data-th], td[data-th] {
		color: $color1;
	}
	tr {
    &.stripe {
      background-color: $gray3;
    }
  }
	th[scope="col"], td, th[data-th] {
		margin: .5rem 1rem;
		@media (min-width: $breakpoint-alpha) {
			padding: 1rem !important;
		}
	}
	th[scope="col"], th[data-th]:before, td:before {
		color: $color-link;
	}
	caption {
		color: $color1;
		padding: .1rem 1rem;
		h1,h2,h3,p {
			color: $color1;
		}
	}
}
