
/**
 * Breakpoints 
 */
$xs: 0em; /* 0em or 0px */
$sm: 30em; /* 30em or 480px */
/* Mid introduced for Paragraph Featured Content */
$sm-plus: 47.5em; /* 47.5em or 760px */
$med: 57em; /* 57em or 912px */
$med-plus: 62.5em; /* 62.5em or 1000px */
$l: 75em; /* 75em or 1200px */
$l-plus: 77em; /* 77em or 1232px */
$xl: 80em; /* 80em or 1,280px */
$sidebar-first: 25em; /* 25em or 400px */

/**
 * Rows
 */
$row: 75em; /* 75em or 1,200px */
$row-large: 80em; /* 80em or 1,280px */
$row-small: 62.5em; /* 62.5em or 1,000px */

